.header {
    height: 50;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__option {
    color: aliceblue;
    display: flex;
    align-items: inherit;
    text-align: center;
}

.header__optionLineTwo {
    font-weight: 800;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    float: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #068fdf;
}